<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <%- include("../parts/navbar.ejs") %>
  <!-- NAVBAR -->

  <!-- main -->
  <%- include("inside.ejs") %>
  <!-- main -->
</section>
<!-- CONTENT -->
