<html lang="en">
  <%- include('parts/header.ejs') %>
  <body>
    <%- include("parts/sidebar.ejs") %> <%-
    include("product-details/content.ejs") %>
  </body>
  <script src="js/sidebar.js"></script>
</html>
