<!-- MAIN -->
<main>
  <style>
    .col-4 {
      flex-basis: 30%;
      padding: 10px;
      min-width: 200px;
      margin-bottom: 50px;
      transition: transform 0.5s;
    }
    h3 {
      text-align: center;
    }
    .small-container {
      margin-top: -50px;
    }
    .row-2 {
      margin-top: 50px;
    }
  </style>
  <div class="small-container">
    <div class="row row-2">
      <h1>All Products</h1>
    </div>
    <div class="row">
      <div class="col-4">
        <a href="/?category=Computing&pageNumber=1 ">
          <img src="/images/home/Baby Products.jpg" />
        </a>
        <h3>Computing</h3>
      </div>

      <div class="col-4">
        <a href="/?category=Fashion&pageNumber=1 ">
          <img src="/images/home/Baby Products.jpg"
        /></a>
        <h3>Fashion</h3>
      </div>

      <div class="col-4">
        <a href="/?category=Phones_Tablets&pageNumber=1 ">
          <img src="/images/home/Baby Products.jpg" />
        </a>
        <h3>Phones & Tablets</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <a href="/?category=Health_Beauty&pageNumber=1 ">
          <img src="/images/home/Baby Products.jpg" />
        </a>
        <h3>Health & Beauty</h3>
      </div>
      <div class="col-4">
        <a href="/?category=Baby Products&pageNumber=1 ">
          <img src="/images/home/Baby Products.jpg" />
        </a>
        <h3>Baby Products</h3>
      </div>
    </div>
  </div>
</main>
<!-- MAIN -->
