<!-- MAIN -->
<main>
  <div class="small-container">
    <div class="row row-2">
      <h2>All Products</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="/images/img.jpg" />

        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
      <div class="col-4">
        <img src="product-2.png" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
      <div class="col-4">
        <img src="product-2.png" />

        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
      <div class="col-4">
        <img src="product-2.png" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>

      <div class="col-4">
        <img src="product-2.png" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="product-2.png" />
        >
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
      <div class="col-4">
        <img src="product-2.png" />

        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
      <div class="col-4">
        <img src="product-2.png" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
      <div class="col-4">
        <img src="product-2.png" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>$50.0</p>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="product-2.png" />
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$50.0</p>
        </div>
        <div class="col-4">
          <img src="product-2.png" />
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$50.0</p>
        </div>
        <div class="col-4">
          <img src="product-2.png" />
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$50.0</p>
        </div>
        <div class="col-4">
          <img src="product-2.png" />
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$50.0</p>
        </div>
      </div>
      <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
      </div>
    </div>
  </div>
</main>
<!-- MAIN -->
