<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class="bx bxs-cart-alt"></i>
    <span class="text"> <%= fullName %> </span>
  </a>

  <ul class="side-menu top">
    <li class="active">
      <a href="/">
        <i class="bx bx-home-alt"></i>
        <span class="text">Home</span>
      </a>
    </li>

    <li>
      <a href="/?category=Computing&page=1">
        <i class="bx bx-laptop"></i>
        <span class="text">Computing</span>
      </a>
    </li>

    <li>
      <a href="/?category=Fashion&page=1">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Fashion</span>
      </a>
    </li>

    <li>
      <a href="/?category=Phones_Tablets&page=1">
        <i class="bx bx-mobile-alt"></i>
        <span class="text">Phones & Tablets</span>
      </a>
    </li>

    <li>
      <a href="/?category=Health_Beauty&page=1">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Health & Beauty</span>
      </a>
    </li>

    <li>
      <a href="/?category=Baby Products&page=1 ">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Baby Products</span>
      </a>
    </li>

    <% if (isAdmin) { %>
    <li>
      <a href="/Addproduct">
        <i class="bx bxs-shopping-bag-alt"></i>
        <span class="text">Add product</span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Orders</span>
      </a>
    </li>

    <% } else{ %>

    <li>
      <a href="/cart">
        <i class="bx bxs-cart-alt"></i>
        <span class="text">cart</span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Orders</span>
      </a>
    </li>

    <% } %>
  </ul>

  <ul class="side-menu">
    <% if (isLoggedIn) { %>
    <li>
      <a href="/login/logout" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
    <% }else{ %>
    <li>
      <a href="/login">
        <i class="bx bxs-log-in-circle"></i>
        <span class="text">login</span>
      </a>
    </li>
    <% } %>
  </ul>
</section>

<!-- SIDEBAR -->
